<!DOCTYPE HTML>
<html>
  <body>
    <% @comedians.each do |comedian| %>
      <div class="comedian" id="id_<%= comedian.id %>">
        <ul>
          <li><%= comedian.name %></li>
          <li><%= comedian.age %></li>
        </ul>
        <% if comedian.specials %>
            <ul class="specials">
            <% comedian.specials.each do |special| %>
              <li><%= special.name %></li>
            <% end %>
            </ul>
          <% end %>
      </div>
    <% end %>
  </body>
</html>