<% @comedians.each do |comedian| %>
  <div id="id_<%= comedian.id %>">
    <ul>
      <li><%= comedian.name %></li>
      <li><%= comedian.age %></li>
       <% if comedian.specials %>
      <li> <%= comedian.specials.name %></li>
    <% end %>
    </ul>
  </div>
<% end %>
